body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.verh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.buk {
    width: 150px;
}

.navigasia {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    font-size:15px;
}

.inv {
    margin-right:1px;
}

.kar1{
    margin-top: 150px;
}

.navigasia a{
    text-decoration: none;
    color: black;
}

.icons img {
    width: 30px;
    margin-left: 10px;
}

/* Герой-секция */
.hero {
    background: url('https://via.placeholder.com/1920x800') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

.hero p {
    font-size: 20px;
    margin: 0 0 30px;
}

.btn-primary {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Преимущества */
.advantages {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background: #f8f8f8;
    text-align: center;
    margin-top: 250px;
}

.advantage img {
    margin-bottom: 15px;
    margin-left:20px;
}

.advantage img:hover {
    background-color: aqua;
    opacity:0.5;
}

.advantage h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
img{
    margin-bottom: 30px;
}

.advantage p {
    text-decoration: none;
}

/* Галерея */
.gallery {
    text-align: center;
    padding: 50px 20px;
    
}

.gallery h2 {
    margin-bottom: 30px;
}

.gallery-images {
    display: flex;
    justify-content: center;
flex-wrap: wrap;
}

/* Контакты */
.contacts {
    text-align: center;
    padding: 50px 20px;
    background: #f1f1f1;
}

.contacts h2 {
    margin-bottom: 20px;
}

/* Подвал */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    font-size: 14px;
}
